/*00: Global Variables*/
:root {
--navbar-outline: #992dbd;
--link-color: #ffffff;
}



/*01: Background*/
body {
    background-image: url(../img/musicwave1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}



/*02: Topography*/




/*03: Layout*/
.header{
    display: middle;
    font-size: 30px;
    text-align: center;
    height: 100vh;
    color: white;
    padding-top: 3%;
    }

/*Navbar Position*/
div.navbar
{
    position: fixed;
    border: 3px solid var(--navbar-outline);
    border-radius: 100% 100% 100% 0% / 100% 0% 100% 0%;
    width: 600px;
    color: var(--link-color);
    overflow:hidden;
    margin-left: 28%;
    display: middle;
    padding-left: 10%;
    padding-right: 10%;
}
div.navbar ul {
    list-style-type: none;
    margin: auto;
    padding: 6px;
}
div.navbar li {
    display: inline-table;
    margin-left: 40px;
    text-align: center;
}
div.navbar li a {
    color: var(--link-color);
}

/*Player Position*/
div.player {
    position: absolute;
    left: 38%;
    top: 40%;
    display: middle;
}

/*Timer Position*/
div.timer {
    position: absolute;
    left: 38%;
    top: 65%;
    height: 15vw;
    width: 25vw; 
}
