/*00: Global Variables*/




/*01: Background*/
body {
    background-image: url(../img/ROGCity.gif);
    background-size: 100% auto;
    background-repeat: no-repeat;
}


/*02: Topographyy*/




/*03: Layout*/
h1 {
    text-align: center;
    color: white;
    font-size: 5vw;
    font-family: 'Roboto', sans-serif;
    top: 10%;
}
h2 {
    text-align: center;
    color: white;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    top: 6%;
}


/*Timer Position*/
div.timer {
    position:absolute;
    left: 38%;
    top: 65%;
    height: 15vw;
    width: 25vw; 
}

/*Timer Style*/
#countdown{
    color:aliceblue;
    text-align: center;
}
